--extra-index-url https://download.pytorch.org/whl/cu121
-f https://data.dgl.ai/wheels/repo.html

torch==2.2.1+cu121
torchdata==0.7.1
dgl==2.2.1+cu121
numpy==1.26.4
pyyaml
scipy
tqdm
requests
psutil
pydantic
pandas
matplotlib
seaborn
networkx